/* Custom Classes
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.professional-pic {
  object-fit: cover;
  border-radius: 50%;
  max-width: 100%;
  box-sizing: border-box;
  display: block;
}

.row {
  display: flex; /* Flexbox layout */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100vh; /* Take up full viewport height */
}

/* Custom Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Show on medium or large screens */
@media (min-width: 750px) {
  .hide-on-small {
    max-width: 100%;
    box-sizing: border-box;
    display: block;
  }
}

/* For small screens (e.g., phones), make the element full width */
@media screen and (max-width: 750px) {
  .full-width-on-small {
    width: 100%; /* Full width on mobile */
  }

  /* Hide the one-third column on small screens */
  .hide-on-small {
    display: none;
  }
}
